@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    transition: 0.4s all;
}
button{
    background-color: transparent;
    padding: 20px 65px;
    border: 1px solid #384157;
    color: #384157;
}
button:hover{
    background-color: #384157;
    color: #fff;
}
ul{
    list-style: none;  
    padding-left: 0;
}
html, header, .body{
    background-color: #f3f0ef;
}
body a{
    text-decoration: none;
    color: black;
}
body a:hover{
    color: black;
    text-decoration: underline;
}
.header-wrapper{
    margin: 32px 90px 0 90px;
    padding: 0 32px;
    height: 64px;
    border: 1px solid #384157;
    position: relative;
}
.header-logo a:hover{
    text-decoration: none;
}
.header-logo::after{
    content: "";
    display: block;
    margin: auto;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #384157;
    transition: 0.4s ease-in-out;
}
.header-logo:hover::after{
    width: 100%;
}
.header-logo p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.header-right a{
    color: #444;
}
.header-right a:hover{
    text-decoration: none;
}
.header-right li:nth-child(1):after,
.header-right li:nth-child(2):after,
.header-right li:nth-child(3):after,
.header-right li:nth-child(4):after{
    display: block;
    content: "";
    width: 0%;
    margin: auto;
    height: 1px;
    background-color: #384157;
    left: 0;
    transition: 0.4s;
}
.header-right li:hover::after{
    width: 100%;
}
.header-right ul li:not(:last-child){
    margin-right: 20px;
}
.contact{
    border: 1px solid #384157;
    padding: 10px 20px;
}
.header-right i{
    color: #384157;
    font-size: 16px;
}
.mobile-nav{
    z-index: 10;
    display: none;
}
.nav-logo{
    display: none;
}
#close{
    display: none;
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
    cursor: pointer;
}
.fa-search{
    cursor: pointer;
}
.search-input{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding-left: 50px;
    font-size: 18px;
    border: none;
    outline: none;
}
@media (max-width: 991px){
    .header-right{
        display: none;
    }
    .header-wrapper{
        margin-top: 0;
        border: none;
        margin: 0;
    }
    header{
        border-bottom: 1px solid #384157;
    }
    .nav-logo{
        display: block;
    }
    .mobile-nav{
        position: relative; 
    }
    .nav-logo img{
        width: 32px;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }
    .nav-list{
        position: absolute;
        background-color: #fff;
        width: 100%;
        margin-top: 1px;
        text-align: center;
    }
    .nav-list li{
        line-height: 3.5em;
    }
    .nav-list a{
        color: #444;
    }
    .mobile-social ul{
        display: flex;
        justify-content: center;
        gap: 25px;
        flex-direction: row;
        position: relative;
    }
    #mobileSearch{
        display: none;
        position: absolute;
        width: 50%;
        height: 33px;
        left: 0;
        right: 0;
        top: 10px;
        margin: auto;
    }
    #mobileClose{
        display: none;
        position: absolute;
        top: 18px;
        right: 28%;
    }
}
/* Hero Section */
.hero-section{
    margin: 0 90px;
    padding-top: 100px;
    display: flex;
}
.hero-section h1{
    color: #384157;
    font-size: 52px;
    font-weight: 600;
    padding-top: 10px;
}
.hero-section p{
    max-width: 400px;
    line-height: 1.8em;
    color: #444;
    font-size: 17px;
    font-weight: 100;
}
.hero-right{
    max-width: 535px;
    z-index: 1;
}
.hero-right img{
    width: 100%;
    height: auto;
}
@media (max-width: 991px){
    .hero-section{
        flex-direction: column-reverse;
        margin: 0;
        padding-top: 20px;
    }
    .hero-section h1{
        font-size: 32px;
    }
    .hero-section button{
        padding: 0;
        width: 160px;
        height: 50px;
    }
}
/* Opening box */
.opening-box{
    background-color: #384157;
    color: #fff;
    position: absolute;
    right: 0;
    top: 95px;
    padding-top: 530px;
    padding-right: 140px;
    padding-left: 90px;
    padding-bottom: 60px;
}
.opening-box h4{
    font-weight: 600;
}
.opening-box a{
    color: #fff;
}
.opening-box a:hover{
    color: #f3f0ef;
}
@media (max-width: 991px){
    .opening-box{
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        margin-top: 60px;
        padding: 30px 35px;
        position: relative;
        top: 0;
    }
}
/* Offer */
.offer{
    padding-top: 300px;
}
.offer-title h1{
    margin: 0 90px 30px 90px;
    font-size: 46px;
    font-weight: 600;
    color: #384157;
}
.offer a:hover{
    text-decoration: none;
}
.offer-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin: 0 90px;
}
.offer-item{
    padding: 20px 0 20px 10px;
    color: #384157;
    border: 1px solid #384157;
    border-radius: 6px;
}
.offer-item:hover{
    background-color: #384157;
    color: #f3f0ef;
    transition: 0.001s all;
}
.offer-item:hover .offer-item-img img{
    filter: brightness(2000%);
}
.offer-item-img img{
    filter: brightness(100%);
    width: 32px;
    padding-right: 5px;
}
@media (max-width: 768px){
    .offer-wrapper{
        grid-template-columns: auto auto;
        margin: 0 40px;
    }
    .offer{
        padding-top: 60px;
    }
    .offer-title{
        text-align: center;
    }
}
@media (max-width: 575px){
    .offer-wrapper{
        grid-template-columns: auto;
    /* justify-content: center; */
    }
}
/* Our team */
.our-team-section{
    background: url(/images/our-team-bg.jpeg) no-repeat;
    background-attachment: fixed;
    margin-top: 60px;
    padding-top: 60px;
}
.our-team{
    background-color: #FFFFFF;
    padding: 50px 75px;
}
.our-team-item{
    max-width: 300px;
}
.our-team-item-img img{
    width: 100%;
}
.our-team-item-title{
    padding-top: 15px;
}
.our-team-button{
    display: flex;
    justify-content: center;
}
.our-team-button button{
    margin: 50px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.our-team-button button:hover{
    margin: 50px;
    background-color: #333;
    border-color: #fff;
    color: #fff;
}
@media (max-width: 768px){
    .our-team{
        padding: 50px 25px;
    }
}
/* Galery */
.galery-wrapper{
    margin-top: 90px;
    width: 100%;
    flex-wrap: wrap;
}
.galery-item, .galery-item img{
    width: 100%;
}
/* Chat */
.chat{
    background-color: #384157;
    padding: 5% 2%;
}
.chat-info{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    gap: 10px;
}
.chat h3{
    margin: 0;
    color: #fff;
    font-size: 29px;
    font-weight: 600;
}
.chat a h3{
    text-decoration: none;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    color: #384157;
}
.chat a h3:hover, .chat a:hover{
    text-decoration: none;
    color: #fff;
}
/* Article */
.article{
    margin-top: 100px;
    padding: 0 180px;
}    
.article-title h1{
    color: #384157;
    font-size: 41px;
    font-weight: 600;
    margin-bottom: 60px;
}
.article-wrapper{
    display: flex;
    gap: 20px;
}
.article-item{
    position: relative;
    width: 200px;
    height: 416px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 75, 87, 0)), to(rgba(56, 65, 87, 0.88)));
    background-image: linear-gradient(180deg, rgba(75, 75, 87, 0), rgba(56, 65, 87, 0.88));
    opacity: 0.74;
}
.article-item:hover{
    opacity: 1;
}
.article-item:hover .article-img{
    scale: 1.02;
    overflow: hidden;
}
.article-info{
    position: absolute;
    bottom: 20px;
    padding: 20px 30px;
    color: #fff;
}
.article-info-top h6{
    font-size: 17px;
    font-weight: 700;
}
.article-info-middle h4{
    font-size: 22px;
    font-weight: 600;
}
.article-img img,
.article-img {
    width: 100%;
    height: 100%;
}
.article-img img{
    object-fit: cover;
}
@media(max-width: 991px){
    .article-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .article{
        padding: 0 50px;
    }
    .article-item{
        width: 100%;
        height: 400px;
    }
}
.footer{
    margin-top: -100px;
    padding: 150px 180px 50px 180px;
    color: #FFFFFF;
    background-color: #384157;
}
.footer a, .footer a:hover{
    color: #FFFFFF;
}
.footer-logo a, .footer-logo a:hover{
    color: #FFFFFF;
    font-size: 24px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer-item{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}
.footer-list h6{
    margin-top: -30px;
    font-size: 18px;
}
.footer-list a:hover,
.footer-logo a:hover{
    text-decoration: none;
}
.footer-list li a::after,
.footer-logo::after{
    display: block;
    content: "";
    width: 0%;
    margin: auto;
    height: 1px;
    background-color: #FFFFFF;
    left: 0;
    transition: 0.4s;
}
.footer-list li a:hover::after,
.footer-logo:hover::after{
    width: 100%;
}
.footer-social i{
    margin-right: 5px;
    font-size: 18px;
    border: 1.5px solid #fff;
    padding: 9px;
}
.footer-social i:hover{
    background-color: #f3f0ef7d;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
@media (max-width: 991px){
    .footer{
        padding: 120px 20px 50px 20px;
    }
    .footer ul{
        padding-left: 0;
    }
    .footer-wrapper{
        justify-content: center;
        text-align: left;
        flex-direction: column;
    }
    .footer-list h6{
        margin-top: 20px;
    }
    .footer-item{
        flex-direction: column;
        gap: 30px;
    }
}
/* Top button styles */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #384157;
    color: white;
    cursor: pointer;
    padding: 7px 14px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #FFFFFF;
    color: #333;
  }